   body {
   font-family: Georgia, 'Times New Roman', Times, serif,sans-serif;
   font-weight: 5px;
   background-color :wheat;
   
   
 }
 
 h2,h4 {
   color: red;
  
 }
 
 .moneyscreen {
   border: solid black 3px;
   border-block-end: solid black 4px;
   margin:  5px;
   margin-bottom: 0px;
   padding: 10px;
   border-radius: 10px;
   background-color: red;
   color: wheat;
   box-shadow: 1px 2px 3px 4px #000;
  
     
 }
 
 .amount {
   color: wheat;
 }
 
 .logo {
   margin: 5px;
   padding: 6px;
   background: black;
   border: solid red 2px;
   border-radius: 30px;
   box-shadow: 1px 2px 3px 4px #000;
   
 }
 
 
.notify-btn,.icon-show {
     border-radius: 100px;
     width: 39px;
     height: 35px;
     box-shadow: 1px 2px 3px 4px #000;
    
    
  }
  
  .show-icon,.notify-icon {
    border-radius: 50px;
  }
  
  .icon-show {
    border: solid black 2px;
    
  }
  
  button {
    margin: 10px;
    padding-top: 10px;
    padding: 5px;
    background-color: wheat;
    border: solid red 2px;
    border-radius: 159px;
    box-shadow: 1px 2px 3px 4px #000;
    text-align: center;
    color: #000;
    font-size: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background: red;
    border: solid wheat 2px;
    color: #fff;
  }
  
  
  img {
    border-radius: 95px;
    width: 25px;
    height: 20px;
  }
  
  a {
    text-decoration: none;
    text-align: center;
    color: red;
  }
  
  .amount-in {
    color: green;
  }
  
  .amount-out {
    color: red;
  }
  
  .history {
   background-color: black;
border-bottom-end: solid red 3px;
border-bottom-left-radius : 20px;
border-bottom-right-radius : 20px;  margin: 10px;
   margin-top: 0px;
   padding: 10px;
   box-shadow: 1px 2px 3px 4px #000;
    
  }
  
  #trans-hist {
    color: black;
     box-shadow: 1px 2px 3px 4px #000;
  }
  
  .trans-add {
     background: red;
     box-shadow: 1px 2px 3px 4px #000;
     margin: 10px;
     padding: 10px;
     border-radius: 20px;
  }
  
  .transfer-btn {
    box-shadow: 1px 2px 3px 4px #000;
    color: black;
    margin: 7px;
    padding: 8px;
  }
  
  .add-btn {
    box-shadow: 1px 2px 3px 4px #000;
    color: black;
    margin: 5px;
    margin-left: 9px;
    padding: 5px;
  }
  
  .utility {
    box-shadow: 1px 2px 3px 4px #000;
    background: red;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    
  }
  
  .utility-btn {
    color: black;
    margin: 5px;
    padding: 5px;
  }
  
  .nav-footer {
    box-shadow: 1px 2px 3px 4px #000;
    background: red;
    border-radius: 25px;
    margin: 0px;
    padding: 10px;
    
  }
    
  
  