 body {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: 20px;
   background-color :wheat;
   
   
 }
 
 h2,h3,h4 {
   color: red;
  
 }
 
 h3 {
   border: solid red 2px;
   margin:  5px;
   padding: 10px;
   border-radius: 5px;
   background-color: wheat;
     
 }
 
 .logo {
   margin: 6px;
   padding: 10px;
   background: black;
   border: solid red 2px;
   border-radius: 10px;
   
 }
 
 input {
   margin: 10px;
   padding: 10px;
   border: solid #fff 2px;
   border-radius:10px;
   background: red;
   color:#fff;
   
   
 }
 
 input:focus {
   background:  wheat;
   color: #000;
   border: solid red 2px;
 }

 
 label {
   color: red;
   text-align: center;
   
 }
 
 
 .container {
   border:solid red 2px ;
   background: black;
   border-radius: 10px;
   margin: 10px;
   padding: 10px;
   
   
 }
 
  .hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: red;
    margin: 20px 0;
  }
  
  .hr-text::before {
    content: "Or";
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    background: #fff;
    padding: 0 10px;
    color: #000;
  }
  
  .or {
  color: red;
  text-align: center;
  }

button {
    margin: 5px;
    padding: 5px;
    background-color: wheat;
    border: solid red 2px;
    border-radius: 10px;
    width: 105px;
    text-align: center;
    color: #fff;
  }
  
  button:hover {
    background: red;
    border: solid wheat 2px;
  }
  
  
  img {
    border-radius: 95px;
    width: 40px;
    height: 35px;
  }
  
  a {
    text-decoration: none;
    text-align: center;
    color: red;
  }
  
  #signup {
    color:#fff;
  }
  
  .signup {
    margin: 4px;
    padding: 4px;
  }
  
  .signup-btn, .login-btn {
    margin: 10px;
    padding: 8px;
    color: #fff;
    text-align: center;
    width: 100px;
  }
  
  
    
    
 
 
 
 